@import url("reset.css");
@import url("normalize.css");
@import url("_variables.css");

*{
    font-family: var(--font-default); 
    font-weight: var(--font-two-weight);   
    font-size: var(--font-size-default); 
    
}


body{
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
    margin:auto;
    color: var(--neutral-dark-gray);
    width: var(--width-default); 
  
} 

.container{
    margin-bottom: 2em;
}

header {
    display: flex;
    height: 400px;    
    flex-direction: column;   
    align-items: center;    
    background-repeat: no-repeat;
    background-image: url('../images/image-hero-desktop.jpg');            
}

.title-menu{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: baseline; 
}

.crowdfund{
    width: 70%;
    padding-left: 2em;

}

.crowdfund h1{
    margin-left: 2em;
}

.menu-toggle{
    display: none;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding-right: 2em;
}

.menu a{
    color: #FFFFFF;  
    margin-right: 2em;
    font-weight: lighter;
}

.menu a:hover{
    transform: scale(1.1);
}

main{
    display: flex;    
    flex-direction: column;
    align-items: center;    
    background-color: var(--neutral-gray);
}

main .container{
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.presentation{
    text-align: center;
    width: 85%;   
    margin-bottom: 1.5em;
    padding: 2.5em 0 1em 0;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field);
    position: relative;
    margin-top: -10%;
    
}

.presentation .logo{      
   position: absolute;
   margin-top: -10%;
   margin-left: -4%;
   
}

.presentation h2{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--neutral-black);
          
}

.presentation p {
    margin-top: .5em;
    font-size: 1.1em;
    color: var(--neutral-dark-gray);
}

.actions{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.actions .button{    
    /* width: 30%; */
    border-radius: var(--radius-button);        
    border-style: none;
    text-align:center;   
}

.back-this-project{
    width: auto;
    color: var(--primary-white);
    background-color: var(--primary-cyan);    
    padding: 1em ;
}

.back-this-project:hover{
    background-color: var(--primary-dark-cyan);
    cursor: pointer;
}

.bookmark{
    width: 25%;
    font-weight: bold;
    color: var(--neutral-dark-gray);
    background-color: var(--neutral-gray);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bookmark:hover{    
    color: var(--primary-dark-cyan);
    background-color: var(--primary-light-cyan);
    cursor: pointer;    
}


#bookmark-span{
    width: 70%;
}

.bookmark.bookmarked{
    background-color: var(--neutral-cyan);
}

#bookmark-img.bookmarked, #bookmark-span.bookmarked{
    filter: invert(65%) sepia(8%) saturate(2742%) hue-rotate(127deg) brightness(92%) contrast(94%);
}

.current-situation{
    text-align: center;
    width: 85%;    
    margin-bottom: 1.5em;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field); 
    padding: 0em 2em;
}

.current-situation .data-situation{
    display: flex;
    justify-content: space-between;
}

.data-situation .item-situation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5em 0em 1.5em 0em;  
    padding-right: 3em ;
    border-right: 3px solid var(--neutral-gray-is);  
}

.data-situation .item-situation:last-child{
    border-right: none;  
}

.current-situation span{
    color: var(--neutral-black);
    font-size: 1.5em;
    font-weight: bold;
}

.current-situation p{
    margin: 0 auto;
    text-align: left;
}

.current-situation .progress-bar{
    margin-bottom: 2em;
}


.about-this-project{ 
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field); 
}

.about-this-project .about{
    margin: 2em;
}

#overlay-modal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  
    pointer-events: none;
    
}

#overlay-modal.show{
    background-color: rgba(0,0,0, .6);
    position: fixed;
    transition: 200ms ease-in-out;
    transition: .3s;
    pointer-events: all;
}


.modal-start{
    position: fixed ;
    max-width: 99vh;
    max-height: 99vh;
    overflow: scroll;
    top: 50%;
    left: 50%;
    z-index: 10;   
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field);  
    transition: 250ms ease-in-out; 
    transform: translate(-50%,-50%) scale(0);    
    display: flex;
    flex-direction: column;
    align-items: center;
       
}

.modal-start::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.modal-start.show {   
    transform: translate(-50%,-50%) scale(.9);    
}

#modal-close{    
    padding: .5em;
    margin: 2em 1.5em 0 0;
    background-repeat: no-repeat;
    align-self: flex-end;
    border: none;
    background-color: var(--primary-white);
}

#modal-close:hover {
    cursor: pointer; 

}

.about-this-project h3, .modal-start  h3{
    color: var(--neutral-black);
    font-size: 1.3em;
    font-weight: bold;
}

.about-this-project h4, .modal-start label {
    color: var(--neutral-black);
    font-weight: bold;
}

.modal-start label:hover {
    color: var(--primary-dark-cyan); 
    cursor: pointer;   
}

.modal-start .radio-pledges{
    margin-top: .5em;
    margin-right: .5em;
    cursor: pointer;
    width: 1em;
    height: 1em;    
}

.modal-start .pledges p{
    margin: 1.5em 0em;   
}

.about-pledges{
    width: 90%;
    margin-bottom: 1.5em;
}

.about p, .about-pledges p{
    max-width: 60ch;
}

.pledges{
    width: 90%;
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field); 
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;   
    transition: .3s;
    border-radius: var(--radius-field); 
}

.pledges.show{    
    border: 3px solid var(--primary-dark-cyan);        
}

.about-this-project .header, .about-this-project .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.modal-start .header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.modal-start .footer{
    display: none;
    
}

.modal-start .footer.show{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--neutral-dark-gray);    
    padding: 1em;
}


.modal-start .footer p{
    
    width: 50%;       
}

.enter-value{
    display: flex;  
    justify-content: space-around;
    align-items: center;      
}

.enter-value .continue, .enter-value input, .done{    
    border-radius: var(--radius-button);
    padding: 1em 1em;   
}

.enter-value input, .enter-value .continue {
    width: 40%;     
}


.enter-value .continue, .done{   
    border-style: none;
    color: var(--primary-white);
    background-color: var(--primary-cyan);
         
}

.enter-value .continue.sold-off-button{
    background-color: var(--neutral-dark-gray);   
} 

.sold-off{   
    opacity: .5;
    pointer-events: none; 
         
}

.enter-value input:hover{   
    border: 3px solid var(--primary-cyan);         
}

.enter-value .continue:hover, .done:hover{
    background-color: var(--primary-dark-cyan);
    cursor: pointer;
} 



.modal-gratefulness{    
    max-width: 70vh;
    background-image: url("../images/icon-check.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10%;
    background-size: 12%;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field);
    margin: 1.5em 0;
    padding: 7em 2em 1em 2em;
}


.modal-gratefulness h3{
    margin: 2em;
    color: var(--neutral-black);
    font-size: 1.5em;
    font-weight: bold;
}

.modal-gratefulness p{
   max-width: 60ch;
   font-size: 1em;
   text-align: center;
}

.modal-gratefulness .done{ 
    font-size: 1.2em;   
    border-radius: var(--radius-button);
    padding: 1em 1.5em;
    border-style: none;
    text-align: center;
    color: var(--primary-white);
    background-color: var(--primary-cyan);
    width: auto;  
    margin: 1.5em;       
}

.modal-gratefulness .done:hover{
    background-color: var(--primary-dark-cyan);
    cursor: pointer;
} 


.about-this-project .header .price-of-reward, .modal-start .header .price-of-reward{
    color: var(--primary-cyan);
    font-size: bold;
}

.amount{
    display: flex;
    align-items: baseline;
}

.about-this-project .pledges .footer .amount div{
    font-size: 2em;
    padding: 0em .2em;

}

.bamboo-inventory,
.black-edition-inventory,
.special-edition-inventory{
    color: var(--neutral-black);
    font-size: 1.3em;
    font-weight: bold;
    padding: .5em .5em .5em 1em;
}

.progress-bar{
    width: 100%; 
    height: .6rem;
    border-radius: 100px;
    background-color: var(--neutral-gray-is);
}

.bar-fill{
    height: 100%;
    background-color:var(--primary-cyan);
    border-radius: 100px;
    transition: width .5s;
}

.about-this-project p{
    margin: 1em 0em;
} 

.about-this-project .continue{
    width: 25%;
    border-radius: var(--radius-button);
    padding: 1em;
    border-style: none;
    text-align: center;
    color: var(--primary-white);
    background-color: var(--primary-cyan);
} 

.about-this-project .continue.sold-off-button{
    
    background-color: var(--neutral-dark-gray);
} 

.about-this-project .footer button:hover{
    background-color: var(--primary-dark-cyan);
    cursor: pointer;
} 

/* .attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */

@media (max-width: 450px){
    
    body{
        width: auto;
    }

    header{
        background-repeat: no-repeat;
        background-image: url('../images/image-hero-mobile.jpg');
        background-size: contain;

    }

    .title-menu{
        width: 100%;
        justify-content: space-between;
        flex-wrap:wrap;
    }
    
    .crowdfund{
        width: 50%;
        padding-left: 0;
        margin: 1em 0em 0em 2em;
    }

    .crowdfund h1{
        margin: 0;
        font-size: 1.5em;
    }

    .menu-toggle{
        display: block;
        margin: 1em 2em 0em 0em;
    }

    .menu{        
        display: none;        
    }

    .menu.show{
        display: flex;
        flex-direction: column;
        align-items: flex-start;        
        padding: .5em;
        margin: 1em auto;
        width: 84%;       
        background-color: var(--neutral-gray);
        border-radius: var(--radius-field);       
    }

    .menu.show a{
        flex-direction: column;
        text-align: left;
        color: black;
        padding: .5em;
        font-size: 1.2em;
        width: 100%;
        border-bottom: 3px solid var(--neutral-gray-is);
    }

    .menu a:last-child{
        
        border-bottom: none;
    }

    main{
        margin-top: -35%;
    }

    main .container{
        margin-top: 2%;        
        width: 98%;
    }

    .presentation .logo{
        position: absolute;
        margin-top: -24%;
        margin-left: -8%;
    }

    .presentation h2{
        margin: auto;
        padding-bottom: .5em;
        font-size: 1.4em;
        max-width: 15ch;
    }

    .presentation p{
        font-size: .9em;
        font-weight:lighter;
    }

    .actions{
        margin: 1.5em;
    }

    .back-this-project{
        width: 60%;
    }

    .bookmark{
        width: 30%;
        background: transparent;
    }


    .back-this-project{
        padding: 0em 2.5em;
    }

    .bookmark span{
        display: none;
    }

    .data-situation{
        flex-direction: column;
        align-items: center;
    }

    .data-situation .item-situation span{
        font-weight: bold;
        font-size: 1.7em;

    }

    .data-situation .item-situation{
        flex-direction: column;
        align-items: center;
        margin: 1.5em 0em 0em 0em;
        padding: 0em 0em 1.5em 0em;
        border-right: none;
        border-bottom: 3px solid var(--neutral-gray-is);
    }

    .data-situation .item-situation:last-child{
        border-bottom: none;
    }

    .about-this-project .about{
        margin: 1.3em;
        
    }

    .about-this-project .about h3{        
        font-size: 1em;        
        font-weight: 700;
    }

 

    .about-this-project .about p{
        max-width: 30ch;
        font-size: .8em;
        margin: 1.5em 0em;
    }

    .about-this-project .pledges .header{
        flex-direction: column;
        align-items: flex-start;
    }

    .about-this-project .pledges p{
        font-size: .9em;
        margin: 1.5em 0em;
    }

    .about-this-project .pledges .footer .amount div{
        font-size: 2em;
        padding: 0em .2em;

    }
    
    .about-this-project .pledges .footer .continue{
        width: auto;
        padding: 1em;
    }

    .modal-start{
        min-width: 60vh;
        /* max-height: 90vh;        */
           
    }

    .modal-start .header{
        flex-direction: column;  
        align-items: flex-start;    
           
    }   

    .modal-start .header label input{
        margin-right: 1.5em;         
    }

    .modal-start .header div:first-of-type {
        margin-left: 2.7em;
    }

    .modal-start .header .amount{
        margin: auto;
    }

    .modal-start .header .amount div{
        margin-left: 0;
        padding-left: 0;
    }
    

    .modal-start .footer{
        flex-direction: column;  
        align-items: center;  
           
           
    }  

    .modal-start .footer p{
        width: auto;   
           
    } 

    .modal-start .enter-value{
        width: 95%;  
        justify-content: space-around;  
        margin-top: 1.5em;
           
    } 

    .modal-start .footer.show .enter-value input, 
    .modal-start .footer.show .enter-value button{
        /* padding: 1em 2em; */
        text-align: center;
        width: 48%;           
    } 

    .modal-gratefulness p{
        margin: 1.5em 0em;
        text-align: center;
        font-size: 1em;
    }

    .modal-gratefulness .done{
        text-align: center;
        width: auto;
        padding: 1em 2em;
    }


}
