@import url("reset.css");
@import url("normalize.css");
@import url("_variables.css");

* {
    font-family: var(--font-default); 
    font-weight: var(--font-two-weight);   
    font-size: var(--font-size-default);  
}

body{
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
    width: var(--width-default);   
    margin: auto;
    color: var(--neutral-dark-gray);
}

header{
    display: flex;    
    flex-direction: column;
} 

header .container{
    display: flex;
    height: 400px;
    flex-direction: column;   
    align-items: center;    
    background-repeat: no-repeat;
    background-image: url('../images/image-hero-desktop.jpg');            
}

.title-menu{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: baseline; 
}

.crowdfund{
    width: 70%;
    padding-left: 2em;

}

.crowdfund h1{
    margin-left: 2em;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding-right: 2em;
}

.menu a{
    color: #FFFFFF;  
    margin-right: 2em;
    font-weight: lighter;
}

.menu a:hover{
    transform: scale(1.1);
}

main{
    display: flex;    
    flex-direction: column;
    align-items: center;    
    background-color: var(--neutral-gray);
}

main .container{
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.presentation{
    text-align: center;
    width: 85%;   
    margin-bottom: 1.5em;
    padding: 2.5em 0 1em 0;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field);
    position: relative;
    margin-top: -10%;
    
}

.presentation .logo{      
   position: absolute;
   margin-top: -10%;
   margin-left: -4%;
   
}

.presentation h2{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--neutral-black);
          
}

.presentation p {
    font-size: 1em;
    color: var(--neutral-dark-gray);
}

.actions{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.actions .button{    
    width: 30%;
    border-radius: var(--radius-button);        
    border-style: none;
    text-align:center;   
}

.back-this-project{
    color: var(--primary-white);
    background-color: var(--primary-cyan);    
    padding: 1em ;
}

.back-this-project:hover{
    background-color: var(--primary-dark-cyan);
    cursor: pointer;
}

.bookmark{
    font-weight: bold;
    color: var(--neutral-dark-gray);
    background-color: var(--neutral-gray);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bookmark:hover{    
    color: var(--primary-dark-cyan);
    background-color: var(--primary-light-cyan);
    cursor: pointer;    
}


#bookmark-span{
    width: 70%;
}

.bookmark.bookmarked{
    background-color: var(--neutral-cyan);
}

#bookmark-img.bookmarked, #bookmark-span.bookmarked{
    filter: invert(65%) sepia(8%) saturate(2742%) hue-rotate(127deg) brightness(92%) contrast(94%);
}



.current-situation{
    text-align: center;
    width: 85%;    
    margin-bottom: 1.5em;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field); 
    padding: 0em 2em;
}

.current-situation .data-situation{
    display: flex;
    justify-content: space-between;
    /* padding: 0 1em; */
}

.data-situation .item-situation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5em 0em 1.5em 0em;  
    padding-right: 3em ;
    border-right: 3px solid var(--neutral-gray-is);  
}

.data-situation .item-situation:last-child{
    border-right: none;  
}

.current-situation span{
    color: var(--neutral-black);
    font-size: 1.5em;
    font-weight: bold;
}

.current-situation p{
    margin: 0 auto;
    text-align: left;
}

.current-situation .progress-bar{
    margin-bottom: 2em;
}


.about-this-project{ 
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field); 
}

.about-this-project .about{
    margin: 2em;
}

#overlay-modal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  
    
}

#overlay-modal.show{
    background-color: rgba(0,0,0, .6);
    position: fixed;
    /* pointer-events: none; */
    transition: .3s;
    
}


.modal-start{
    width: 725px;    
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field);   
    position: absolute;
    top: -1440px;
       
}

.modal-start.show {
    top: 400px;
    transition: .9s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20em;
    margin-bottom: 1em;
    overflow: scroll;    
}

#modal-close{    
    padding: .5em;
    margin: 2em 1.5em 0 0;
    background-repeat: no-repeat;
    align-self: flex-end;
    border: none;
    background-color: var(--primary-white);

}

#modal-close:hover {
    cursor: pointer; 

}

.modal-start span {
    color: var(--neutral-black);
    font-weight: bold;
}

.about-this-project h3, .modal-start  h3{
    color: var(--neutral-black);
    font-size: 1.3em;
    font-weight: bold;
}

.about-this-project h4, .modal-start label {
    color: var(--neutral-black);
    font-weight: bold;
}

.modal-start label:hover {
    color: var(--primary-dark-cyan); 
    cursor: pointer;   
}

.modal-start .radio-pledges{
    margin-top: .5em;
    margin-right: .5em;
    cursor: pointer;
    width: 1em;
    height: 1em;    
}


/* --- modal effect --- */ 

.about p, .about-pledges p{
    max-width: 60ch;
}

.pledges-front, .pledges{
    width: 90%;
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field); 
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;    
}

.pledges.show{
    transition: .3s;
    border-radius: var(--radius-field);
    border: 3px solid var(--primary-dark-cyan);        
}

.about-this-project .header, .about-this-project .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.modal-start .header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.modal-start .footer{
    display: none;
    
}

.modal-start .footer.show{ 
    width: 100%;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--neutral-dark-gray);    
    padding: 1em;
}


.modal-start .footer p, .enter-value{
    width: 50%;       
}

.enter-value{
    display: flex;  
    justify-content: flex-end;
    align-items: center;      
}

.enter-value .continue, .enter-value input, .done{    
    border-radius: var(--radius-button);
    padding: .5em 1em;    
    text-align: center;         
}

.enter-value input, .enter-value .continue {
    width: 35%;     
}

.enter-value input{
    margin-right: .5em;     
}

.enter-value .continue, .done{   
    border-style: none;
    color: var(--primary-white);
    background-color: var(--primary-cyan);
         
}

.enter-value input:hover{   
    border: 3px solid var(--primary-cyan);         
}

.enter-value .continue:hover, .done:hover{
    background-color: var(--primary-dark-cyan);
    cursor: pointer;
} 

.modal-gratefulness{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field);
    margin: 1.5em 0;
    padding: 1em 2em;
}

.modal-gratefulness img{
    margin-top: 1.5em;
    transform: scale(1.3);
}

.modal-gratefulness h3{
    margin-top: 1.5em;
    color: var(--neutral-black);
    font-size: 1.5em;
    font-weight: bold;
}

.done{    
    border-radius: var(--radius-button);
    padding: .5em 1em;
    border-style: none;
    text-align: center;
    color: var(--primary-white);
    background-color: var(--primary-cyan);
    width: 20%;  
    margin: 1.5em;       
}

.done:hover{
    background-color: var(--primary-dark-cyan);
    cursor: pointer;
} 


.about-this-project .header .price-of-reward, .modal-start .header .price-of-reward{
    color: var(--primary-cyan);
    font-size: bold;
}

.about-this-project .footer .amount span, .modal-start .footer .amount span{
    color: var(--neutral-black);
    font-size: 1.3em;
    font-weight: bold;
    padding: .5em .5em .5em 1em;
}

.progress-bar{
    width: 100%; 
    height: .6rem;
    border-radius: 100px;
    background-color: var(--neutral-gray-is);
}

.bar-fill{
    height: 100%;
    background-color:var(--primary-cyan);
    border-radius: 100px;
    transition: width .5s;
}

.about-this-project .footer .select{
    width: 25%;
    border-radius: var(--radius-button);
    padding: .5em 1em;
    border-style: none;
    text-align: center;
    color: var(--primary-white);
    background-color: var(--primary-cyan);
} 

.about-this-project .footer .select:hover{
    background-color: var(--primary-dark-cyan);
    cursor: pointer;
} 

.attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* -- modal -- */
