@import url("reset.css");
@import url("normalize.css");
@import url("_variables.css");

* {
    font-family: var(--font-default); 
    font-weight: var(--font-two-weight);   
    font-size: var(--font-size-default);  
}

body{
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
    width: var(--width-default);   
    margin: auto;
}

header{
    display: flex;    
    flex-direction: column;
} 

header .container{
    display: flex;
    height: 400px;
    flex-direction: column;   
    align-items: center;    
    background-repeat: no-repeat;
    background-image: url('../images/image-hero-desktop.jpg');            
}

.title-menu{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: baseline; 
}

.crowdfund{
    width: 70%;
    padding-left: 2em;

}

.crowdfund h1{
    margin-left: 2em;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding-right: 2em;
}

.menu a{
    color: #FFFFFF;  
    margin-right: 2em;
    font-weight: lighter;
}

main{
    display: flex;    
    flex-direction: column;
    align-items: center;    
    background-color: var(--neutral-gray);
}

main .container{
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 60%;
    /* justify-content: space-around; */
}
.presentation{
    text-align: center;
    width: 85%;   
    margin-bottom: 1.5em;
    padding: 2.5em 0 1em 0;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field);
    position: relative;
    margin-top: -10%;
    
}

.presentation img{      
   
    
}

.presentation h2{
    font-size: 1.5em;
    font-weight: bold;
          
}

.presentation p {
    font-size: 1em;
    color: var(--neutral-dark-gray);
}

.actions{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.actions button{    
    width: 30%;
    border-radius: var(--radius-button);
    text-align: center;
    padding: 1.2em 0;
    border-style: none;   
}

.back-this-project{
    color: var(--primary-white);
    background-color: var(--primary-dark-cyan);
}

.bookmark{
    font-weight: bold;
    color: var(--neutral-dark-gray);
    background-color: var(--neutral-gray);
    background-image: url("../images/icon-bookmark.svg");
    background-repeat: no-repeat;
}

.current-situation{
    text-align: center;
    width: 85%;    
    margin-bottom: 1.5em;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field); 
}

.current-situation .data-situation{
    display: flex;
    justify-content: space-around;
}

.current-situation span{
    font-size: 1.5em;
    font-weight: bold;
}
.about-this-project{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: var(--radius-field);
    border: 1px solid var(--color-border-field); 
}

.about-this-project .about p{
    max-width: 60ch;
}

.bamboo-stannd{
    width: 90%;
    border: 1px solid black;
}

.black-edition-stand{
    width: 90%;
    border: 1px solid black;
}

.mahogany-special-edition{
    width: 90%;
    border: 1px solid black;
}

.attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}